{% extends 'base.html' %}
{% load static %}

{% block profile %}

<title>Profile</title>

    <div class="row">

            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        There was an error with your form...
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

                <div class="container-fluid" id="scheduler-container">

                    <h3>Profile Settings</h3>

                    <form method="POST" name="user_profile"  action="{% url 'user_profile' %}">
                        {% csrf_token %}
                        <div class="form-profile">
                            {{ form.as_p }}
                        </div>

                        {% if is_edit %}
                            <div style="display:flex; width: 100%; justify-content: space-between;">
                                <button type="submit" class="btn btn-primary" name= "booking" href="{% url 'user_profile' %}">Cancel</button>
                                <button type="submit" class="btn btn-primary" name= "booking" href="{% url 'user_profile' %}?edit=true">Save</button>
                            </div>
                           
                        {% else %}
                            <a class="btn btn-primary btn-block" id="btn-form" name= "booking" href="{% url 'user_profile' %}?edit=true">Edit Profile</a>
                        {% endif %}
                    </form>

                    <hr/>

                    <h3>Delete Account</h3>
                    <form method="POST" name="user_delete"  action="{% url 'user_profile' %}">
                        {% csrf_token %}
                        {% if is_delete %}
                            <div style="display:flex; width: 100%; justify-content: space-between;">
                                <label for="pwd_for_delete">Enter your password to confirm account deletion:</label><br>
                                <input type="text" id="pwd_for_delete" name="pwd_for_delete" value="Password"><br>
                                <button type="submit" class="btn btn-primary" name= "Delete Account Now" href="{% url 'user_profile' %}?delete=true">Delete Account Now</button>
                            </div>
                            
                        {% else %}
                            <a class="btn btn-primary btn-block" id="del-form" name= "booking" href="{% url 'user_profile' %}?delete=true">Delete Account</a>
                        {% endif %}
                    </form>
                
                    
                </div>

</div>
</div>

 {% endblock profile %}
