{% extends 'base.html' %}
{% load static %}


{% block register_user %}

<title>Sign Up</title>
<div id="body-form">
    <div class="col-8" id="col-form">
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        There was an error with your form...
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

           


            <div class="container-fluid" id="scheduler-container">
                
                {% if register_to_book %}
                <div class="register_pill_container">
                    <div class="register_pill active">
                        Register
                    </div>
    
                    <div class="register_pill">
                        Book a session
                    </div>
    
                    <div class="register_pill">
                        Complete
                    </div>
                </div>
                {% endif %}

                <h3 class="pb-4">Register</h3>
                

                    <form method="POST" name="register_user"  action="{% url 'register_user' %}">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <label class="form-label" for="first_name">First Name</label>
                            <input type="text" id="first_name" class="form-control" name="first_name" aria-describedby="emailHelp">
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="last_name">Last Name</label>
                            <input type="text" id="last_name" class="form-control" name="last_name" aria-describedby="emailHelp">
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="address">Address</label>
                            <input type="text" id="address" class="form-control" name="address" aria-describedby="emailHelp">
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">email</label>
                            <input type="email" id="email" class="form-control" name="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password1">Password</label>
                            <input type="password" id="password1" class="form-control" name="password1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password2">Confirm Password</label>
                            <input type="password" id="password2" class="form-control" name="password2" aria-describedby="emailHelp">
                        </div>
                            <div class="text-center">
                                
                                {% if register_to_book %}
                                    <div class="step_button_wrapper">
                                        <a class="btn btn-primary btn-block btn-form" href="{% url 'index' %}">Cancel</a>
                                        <button type="submit" class="btn btn-primary btn-block" id="btn-form" name="booking" href="{% url 'booking' %}?rtb=true">Register</button>
                                    </div>
                                {% else %}
                                    <button type="submit" class="btn btn-primary btn-block" id="btn-form" name="booking" href="{% url 'booking' %}">Book a Session</button>
                                {% endif %}
        
                                <p id="form-p">Already Have An Account?</p>
                                <button href="{% url 'login' %}"  name="login" id="btn-form" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </form>
            </div>
    </div>
</div>

{% endblock register_user %}