{% extends 'base.html' %}
{% load static %}

{% block booking %}
<!--Coaching Services Booking System-->

{% if user.is_authenticated %}
<div id="body-form">

    <div class="content_main" id="col-form">

        <div class="container" id="scheduler-container">
            <!-- If the booking is part of registration workflow, show pills -->
            {% if register_to_book %}
            <div class="register_pill_container">
                <div class="register_pill inactive" id="register_pill_1">

                </div>

                <div class="register_pill{% if not register_book_success and register_to_book %} active {% else %} inactive {% endif %}"
                    id="register_pill_2">

                </div>

                <div class="register_pill{% if  register_book_success and register_to_book %} active {% else %} inactive {% endif %}"
                    id="register_pill_3">

                </div>
            </div>
            {% endif %}

            <!-- Show success message if the booking is part of registration and was successful -->
            {% if register_book_success and register_to_book %}

            <div class="register_complete_main">
                <p class="thank_you_header"> Thank you for your trust {{user.first_name}}.</p>
                <p class="thank_you_subheader"> You have successfully booked a coaching session. Head to Coaching
                    Sessions to manage your bookings. </p>
                <a class="btn btn-danger" id="booking-btn" href="{% url 'booking' %}">Coaching Sessions </a>
            </div>

            <!-- otherwise render the normal booking view-->
            {% else %}
            <form method="post" name="booking"
                action="{% url 'booking' %}?offset={{currentWeekOffset}}{% if register_to_book %}&rtb=true{% endif %}"
                required>
                {% csrf_token %}
                <h3 class="pb-2 mb-4 underlined text-center">Book a Session</h3>

                <div class="scheduler-next">
                    <span>
                        <!-- Disable previous week button for the current week -->
                        {% if not isThisWeek %}
                        <a href="{% url 'booking' %}?offset={{currentWeekOffset|add:-1}}{% if register_to_book %}&rtb=true{% endif %}"
                            style="text-decoration: none; display: flex; align-items: center; color:black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16" style="margin: 10px;">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                            Previous week</a>
                        {% endif %}
                    </span>
                    <span>
                        <a href="{% url 'booking' %}?offset={{currentWeekOffset|add:1}}{% if register_to_book %}&rtb=true{% endif %}"
                            style="text-decoration: none; display: flex; align-items: center; color:black">Next week
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16" style="margin: 10px;">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </a>
                    </span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="fw-normal" scope="col">Monday {{weekdays.0}}</th>
                                <th class="fw-normal" scope="col">Tuesday {{weekdays.1}}</th>
                                <th class="fw-normal" scope="col">Wednesday {{weekdays.2}}</th>
                                <th class="fw-normal" scope="col">Thursday {{weekdays.3}}</th>
                                <th class="fw-normal" scope="col">Friday {{weekdays.4}}</th>
                                <th class="fw-normal" scope="col">Saturday {{weekdays.5}}</th>
                                <th class="fw-normal" scope="col">Sunday {{weekdays.6}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Assemble calendar by iterating over all hours and days template parameters, also adjust styling and selectability via custom class and id selectors -->
                            {% for hour in scheduleHours %}
                            <tr>
                                {% for weekday, value in weekdays.items %}
                                <td scope="row"
                                    class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}   {% if hour in session_values %}disableME{% endif %} {% if hour|add:"me" in session_values %}disableME isMine{% endif %} {% endif %}{% endfor %}"
                                    id="{{weekday}}_{{hour}}" style="cursor: pointer;"
                                    onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not hour in session_values %}onClickCallback('{{value}}', '{{hour}}', '{{weekday}}_{{hour}}', '{{scheduleHours_json}}') {% endif %}{% endif %}{% endfor %}">
                                    {{hour}}:00
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Appointment -->
                <div class="appointment_type mt-3">
                    <h4 class="pb-2 mb-4 underlined">Select a Coaching Service</h4>
                    <div class="appointment_type_form form form-control p-0" id="datetimepicker">
                        {{ form }}
                    </div>
                </div>
                <br />
                <input type="submit" class="btn btn-primary text-white btn-form-large" value="Submit">

                <h4 class="pb-2 mb-4 mt-5 underlined">Booked Sessions</h4>


                <table class="table-session-overview">
                    <thead class="thead-light">
                        <tr>
                            <th style="border-bottom: none;" scope="col"></th>
                            <th style="border-bottom: none;" scope="col"></th>
                            <th style="border-bottom: none;" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Assemble booked sessions with cancelation button-->
                        {% for session in allUserSessions %}
                        <tr>
                            <td>
                                {{session.time}}
                            </td>
                            <td>
                                {{session.service}}
                            </td>
                            <td>
                                <a href="{% url 'cancel_session' %}?id={{session.id}}&offset={{currentWeekOffset}}"
                                    class="btn btn-primary text-center btn-form-large">Cancel</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            {% endif %}

            <script type="text/javascript" src="{% static 'script/booking.js' %}"></script>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</div>
{% else %}
<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You are not Logged In!</h1>
    <a href="{% url 'register_user' %}" class="btn btn-primary shadow text-center">Register</a>
</div>
{% endif %}
{% endblock booking %}