@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato&family=Montserrat&family=Niconne&family=Open+Sans:wght@300&display=swap');

body {
    background-color:  #ffffff;
}

.opensans {
  font-family: 'Open Sans', cursive;
  color: white !important;
}

/*Navigation*/
.container {
  position:relative !important;
  margin-left: auto;
  margin-right: auto;
  top: 0 !important;
  left: 0;
  right: 0;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#ffffff!important;
    padding: 0;
    border-bottom: inset;
}

.navbar-nav .dropdown-menu {
  position: static;
  background-color: #fafafa00;
  color: #ffff;
}
.dropdown-item {
  color: #000000;
  margin: 2%;
  width: 96%;
}

.dropdown-item:focus {
  background-color: #f5eadc;
}

.dropdown-item:hover {
  background-color: #f5eadc;
}

.dropdown-item:active {
  background-color: rgb(248, 242, 235);
  color: #000000;
}

.nav-text {
    color: #3b536b!important;
    font-weight: 400;
    line-height: 1.2;
    font-size:large;
}


/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #dfd0c7!important;;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #dfd0c7!important;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-primary:focus {
  box-shadow: none!important;
} 

.btn-primary:hover {
  background: #72c1cf!important;
} 

/*Background image*/

.c-img {
  height: -webkit-fill-available;
  position: absolute;
  object-position: 0 0;
}


/*Carousel*/
#carousel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #dfd0c7!important;
    padding: 0;
}

.carousel-wrapper {
    box-shadow: 10px 10px 22px -7px rgb(0 0 0 / 30%);
}

.c-item {
  width: 100vw !important;
  height: 50vh;
  z-index: 1;
}


#carouselExampleTouch {
  width: 100%;
  height: 50vh;
}

.carousel-control-next {
  z-index: 5;
}

.carousel-control-prev {
  z-index: 5;
}

.carousel-indicators {
  z-index: 5;
}

.carousel-caption {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Footer*/

footer {
  background-color: #66a9c075;;
}

/*index content*/

.showcase-container {
  max-width: 1200px;
  margin: 9rem;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 10px 10px 22px -7px rgb(0 0 0 / 8%);
}

/*About The Coach*/
#about-me {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.about-me-p {
  text-align: justify; 
  color: black;
}

#meet-nat-btn{
  margin: 1rem;
  width: 8rem;
}
/*Coaching Services*/

#coaching-services {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.coaching-services-item {
  display: flex;
  align-items: flex-end;
  font-size: 1.25rem;
  font-weight: 400;
}

.tab-content {
  border: 1px solid transparent;
  border-color: #fff #dee2e6 #dee2e6;
  padding: 2rem;
}


.nav-link {
  color: #dc354599;
  height: 100%;
}

.coaching-services-p {
  text-align: justify; 
}

.btn-register {
  margin: 1rem;
  font-size: larger;
}

.acc-services {
    color: cadetblue;
    font-size: 1.25rem;
}

#header-services-1 {
  color: cadetblue;
  padding-bottom: 2rem;
}


/*Testimonials*/
#testimonials {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  flex-direction: row;
}

.testimonial-card-body {
  font-family: 'Open Sans', cursive;
  font-size: 1.1rem;
}

.testimonial-card .card-up {
  height: 22px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.card-up {
  background-color: #dc354545 !important;

}

.card{
  width: 100%;
}

/*divider image*/
#divider-img {
  background-color: #0dcaf008;
}
.underlined {
  border-bottom: 1px solid #c7c7c7;
}

.table {
  text-align: center;
}

/* Booking sessions*/
.table td {
  border: 1px solid  rgb(255, 255, 255)
}

.table td:hover {
  background: rgb(237 217 230);
}

.table td:visited {
  background: rgb(172 218 225);
}

.table-session-overview {
  width: 100%;
}

.table-session-overview td {
  padding: 4px;
}


.disableME {
  background-color: rgb(204, 204, 204) !important;
  cursor: auto !important;
}

.isMine {
  background: rgb(172 218 225) !important;
}

.cancel_session_container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#no-account-p{
  color: #000000;
}

#scheduler-container{
  background: #ffffffcc;
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 87vh;
  padding: 2rem;
  border: 1px solid #c3c3c3;
}

.scheduler-next{
  display: flex;
  justify-content: space-between;
}

#datetimepicker {
    background-color: #ffffff08;
    border: none;
}

.appointment_type_form > p {
  visibility: hidden;
  height: 0;
}

.appointment_type_form > label {
  margin-right: 1rem;
}

.scheduler-next{
  display: flex;
  justify-content: space-between;
}

.register_complete_main{
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thank_you_header {
  font-size: 1.7rem;
  font-weight: 600;
  color: #d58dae;
  border-bottom: 1px solid grey;
  min-width: 60%;
  text-align: center;
}

.thank_you_subheader {
  font-size: 1.2rem;
  font-weight: 400;
  color: #0e464f;
  text-align: center;
}

/* Login Form */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(243 141 141 / 71%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(146, 146, 226, 0.363);
  border-radius: 10px;
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 0.5em;
  font-weight: bold;
  color: #222;
}

.btn-form-large {
  color: #fff;
  background-color: #17a2b8b0;
  font-size: larger;
  font-weight: 500;
  border: none;
}

/*LOGIN Icon*/
.fa-user:before {
  content: "\f007";
  color: #4fa3bf;
  padding: 3px;
}

ul.dropdown-menu.show {
  top: 100%;
  margin-top: 0.125rem;
  background-color: #ffffffed;
  border-radius: 5px;
  color: black;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}

/*LOGIN Btn*/
.btn-danger {
  background-color: #ef8791;
  border-color: #ef8791;
}

#login-btn{
  color: #fff;
}

.btn-loginform{
  width: 9rem;
}

li {
  list-style: none;
}

#login-container {
    background: #ffffffcc;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 71vh;
    padding: 2rem;
    border: 1px solid #c3c3c3;
    min-width: fit-content;
}

#body-form {
  flex: 1;
  background: hsla(323, 66%, 84%, 1);
  background: linear-gradient(90deg, hsla(323, 66%, 84%, 1) 0%, hsla(185, 32%, 86%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(323, 66%, 84%, 1) 0%, hsla(185, 32%, 86%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(323, 66%, 84%, 1) 0%, hsla(185, 32%, 86%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1BBDC", endColorstr="#D0E5E7", GradientType=1 );
}

.content_main {
  flex: 0 0 auto;
  width: 66.6666666667%;
  max-width: 1200px;
}

#col-form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.btn-form{
  min-width: 159px;
}

#form-p{
  color: #117a8b;
  padding: 13px;
  margin-top: 2;
  margin-bottom: 2;
}

.form-label{
  color: black;
}

.btn-primary {
  color: #fff !important;
  background-color: #17a2b8b0 !important;
  border: none !important;
}

#nav-form{
  background-color: #ffffff;
  padding: 1rem;
  border-bottom: 1px solid #c3c3c3;
}

#nav-form-link{
  color: #000000;
  font-size: large;
  display: block;
}

/*Profile*/


.profile-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(243 141 141 / 71%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(146, 146, 226, 0.363);
  border-radius: 10px;
}

.profile-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.profile-box .user-box {
  position: relative;
}

.profile-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.profile-box .user-box label {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 0.5em;
  font-weight: bold;
  color: #222;
}

.form-profile > p {
  display: flex;
  flex-direction: column;
}

input:disabled {
  color: black;
  background-color: #ffffffb8;
  border-color: black;
  border-width: 1px;
}

.h1 {
  margin-bottom: 1rem !important;
}

.step_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register_pill_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #c1c1c1;
}

.register_pill {
  background: #cecece;
  color: white;
  border-radius: 20px;
  padding: 0.2rem 3rem;
  font-weight: 500;
  border: 1px solid #00000017;
}

.register_pill.active {
  background: #5dbccc;
}

#register_pill_1::after {
  content: "Register";
}

#register_pill_2::after {
  content: "Book a Session";
}

#register_pill_3::after {
  content: "Complete";
}


/* Free Resources*/

.resources-text {
  text-align: justify;
}

.header-showcase {
  color: cadetblue;
  border-bottom: 1px solid #d7d7d7;
}

.subheader-showcase {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Open Sans', cursive;
  font-size: 1.3rem;
}

.divider-img-wrapper {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}


h2 {
  color: cadetblue;
}

h3 {
  color: cadetblue;
}

h4 {
  color: cadetblue;
}

h5 {
  color: cadetblue;
}



/* Error pages */

.error_page_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.error_page_header {
  font-size: 4rem;
  color: white;
}
.error_page_text {
  font-size: 2rem;
  color: white;
}


/* Custom media queries on top of bootstrap */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .btn-form {
    min-width: 1px;
  }
  #register_pill_1.inactive {
    padding: 0.2rem 1rem;
  }

  #register_pill_2.inactive {
    padding: 0.2rem 1rem;
  }
  
  #register_pill_3.inactive {
    padding: 0.2rem 1rem;
  }

  #register_pill_1.inactive::after {
    content: "1";
  }

  #register_pill_2.inactive::after {
    content: "2";
  }

  #register_pill_3.inactive::after {
    content: "3";
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .content_main {
    width: 100%;
  }
  .container {
    width: 100%;
    max-width: none;
  }
  .dropdown {
    position:absolute;
    right: 0;
    top: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}