body {
    background-color:  #ffffff;
}
/*Navigation*/
.container {
  position:relative !important;
  margin-left: auto;
  margin-right: auto;
  top: 0 !important;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #dfd0c7!important;
    padding: 0px;
}

.navbar-nav .dropdown-menu {
  position: static;
  background-color: #fafafa00;
  color: #ffff;
}
.dropdown-item {
  color: #fff;
}

#nav-text {
    color: #fb8490!important;
    font-weight: 800;
    line-height: 1.2;
    font-family: emoji;
    font-size: larger;
}

/*LOGIN Btn*/
.btn-danger {
  background-color: #ef8791;
  border-color: #ef8791;
}

#login-btn{
  color: #fff;
}


/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #dfd0c7!important;;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #dfd0c7!important;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* navbar logo 
.navbar-light .navbar-brand {
  color: rgba(0,0,0,.9);
  max-height: 7rem;
  max-width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}*/

/*Background image*/

.c-img {
  height: 100%;
  object-fit: cover;
  position: absolute;
}


/*Carousel*/

.mb-3 {
  color: #fff;
  font-family: initial;
}

.mb-4 {
  color: #fff;
  font-family: initial;
}
.c-item {
  width: 100vw !important;
  height: 50vh;
  z-index: 1;
}


#carouselExampleTouch {
  width: 100%;
  height: 50vh;
}

.carousel-control-next {
  z-index: 5;
}

.carousel-control-prev {
  z-index: 5;
}

.carousel-indicators {
  z-index: 5;
}

.carousel-caption {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Footer*/

footer {
  background-color: #93c8cfbd;
}



/*index content*/

/*About me*/
#about-me {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

#about-me-p {
  text-align: justify; 
  text-shadow: 0 0 black;
  color: black;
}

#meet-nat-btn{
  margin: 1rem;
  width: 8rem;
}
/*Coaching Services*/

#coaching-services {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.nav-link {
  color: #dc354599;
}

#coaching-services-p {
  text-align: justify; 
}

#booking-btn {
  margin: 1rem;
  width: 8rem;
}
/*divider image*/
#divider-img {
  background-color: #0dcaf008;
}
/*Testimonials*/
#testimonials {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  flex-direction: row;
}
.testimonial-card .card-up {
  height: 22px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.card{
  width: 100%;
}

/*Booking Sessions*/

.jajaja_IamLord {
  height: 50px;
  width: 50px;
  background: red;
}

/*Calendar Table*/

table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D5E9EF;
}
table.paleBlueRows thead {
  background: #B1DEEF;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}

.disableME {
  background-color: rgb(158, 158, 158);
  cursor: auto !important;
}

.cancel_session_container {
    margin: 1rem;
    /* width: auto; */
    border: 1px solid grey;
    padding: 5px;
    width: 30%;
}