body {
    background-color:  #ffffff;
}
/*Navigation*/
.container {
  position:relative !important;
  margin-left: auto;
  margin-right: auto;
  top: 0 !important;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #dfd0c7!important;
    padding: 0px;
}

.navbar-nav .dropdown-menu {
  position: static;
  background-color: #fafafa00;
  color: #ffff;
}
.dropdown-item {
  color: #fff;
}

#nav-text {
    color: #fb8490!important;
    font-weight: 800;
    line-height: 1.2;
    font-family: emoji;
    font-size: larger;
}

/*LOGIN Icon*/
.fa-user:before {
  content: "\f007";
  color: #4fa3bf;
  padding: 3px;
}

ul.dropdown-menu.show {
  top: 100%;
  margin-top: 0.125rem;
  background-color: #ffffffed;
}

.dropdown-menu[data-bs-popper] {
  right: 0!important;
  left: auto;
}
/*LOGIN Btn*/
.btn-danger {
  background-color: #ef8791;
  border-color: #ef8791;
}

#login-btn{
  color: #fff;
}

li {
  list-style: none;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #dfd0c7!important;;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #dfd0c7!important;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* navbar logo 
.navbar-light .navbar-brand {
  color: rgba(0,0,0,.9);
  max-height: 7rem;
  max-width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}*/

/*Background image*/

.c-img {
  height: -webkit-fill-available;
  position: absolute;
  object-position: 0 0;
}


/*Carousel*/

.mb-3 {
  color: #fff;
  font-family: initial;
}

.mb-4 {
  color: #fff;
  font-family: initial;
}
.c-item {
  width: 100vw !important;
  height: 50vh;
  z-index: 1;
}


#carouselExampleTouch {
  width: 100%;
  height: 50vh;
}

.carousel-control-next {
  z-index: 5;
}

.carousel-control-prev {
  z-index: 5;
}

.carousel-indicators {
  z-index: 5;
}

.carousel-caption {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Footer*/

footer {
  background-color: #93c8cfbd;
}



/*index content*/

/*About me*/
#about-me {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

#about-me-p {
  text-align: justify; 
  text-shadow: 0 0 black;
  color: black;
}

#meet-nat-btn{
  margin: 1rem;
  width: 8rem;
}
/*Coaching Services*/

#coaching-services {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.nav-link {
  color: #dc354599;
}

#coaching-services-p {
  text-align: justify; 
}

#booking-btn {
  margin: 1rem;
  width: 11rem;
}


/*Booking Sessions*/
#no-account-p{
  color: #000000;
}

#scheduler-container{
  background: rgb(255 255 255 / 87%);
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 87vh;
  padding: 5rem;
  border: 1px solid #c3c3c3;
}

#scheduler-next{
  display: flex;
  justify-content: space-around;
}


/*divider image*/
#divider-img {
  background-color: #0dcaf008;
}
/*Testimonials*/
#testimonials {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  flex-direction: row;
}
.testimonial-card .card-up {
  height: 22px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.card{
  width: 100%;
}



/*Calendar Table*/

table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D5E9EF;
}
table.paleBlueRows thead {
  background: #B1DEEF;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}


table td {
  border: 1px solid  rgb(255, 255, 255)
}

table td:hover {
  background: rgb(172 218 225);
}

table td:visited {
  background: rgb(172 218 225);
}

.disableME {
  background-color: rgb(204, 204, 204) !important;
  cursor: auto !important;
}

.isMine {
  background: rgb(172 218 225) !important;
}

.cancel_session_container {
    margin: 1rem;
    /* width: auto; */
    border: 1px solid grey;
    padding: 5px;
    width: 30%;
}

/*Login*/


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(243 141 141 / 71%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(146, 146, 226, 0.363);
  border-radius: 10px;
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 0.5em;
  font-weight: bold;
  color: #222;
}

#btn-form {
  color: #fff;
  background-color: #17a2b8b0;
  font-size: larger;
  font-weight: 500;
  border: none;
  width: auto;
}

#body-form {
  background-color: #e3391514;
}

#form-p{
  color: #117a8b;
  padding: 13px;
  margin-top: 2;
  margin-bottom: 2;
}

.form-label{
  color: black;
}

.btn-primary {
  color: #fff !important;
  background-color: #17a2b8b0 !important;
  border: none !important;
}

#nav-form{
  background-color: #ffffff;
  padding: 1rem;
  border-bottom: 1px solid #c3c3c3;
}

#nav-form-link{
  color: #000000;
  font-size: large;
  display: block;
}

/*Profile*/


.profile-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(243 141 141 / 71%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(146, 146, 226, 0.363);
  border-radius: 10px;
}

.profile-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.profile-box .user-box {
  position: relative;
}

.profile-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.profile-box .user-box label {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 0.5em;
  font-weight: bold;
  color: #222;
}

.form-profile > p {
  display: flex;
  flex-direction: column;
}

.h1 {
  margin-bottom: 1rem !important;
}

