<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="body-form">
        <div class="oops_header">
            ooops...
        </div>
        <div class="oops_text">
            we are sorry, but we can not find the page your looking for.
        </div>
    </div>
  </body>
</html>