
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Life Coach Site</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body class="d-flex flex-column h-100 main-bg">
    <div id="body-form">
        <div class="oops_header">
            ooops...
        </div>
        <div class="oops_text">
            we are sorry, but we can not find the page your looking for.
        </div>
    </div>
  </body>
</html>