


{% load static %}
<div class="container " name="about">
    <!-- Content here -->
    <div class="row" id="about-me">
        <div class="mb-2 col-10 pb-3 pt-5 text-center">
            <h3>About Me</h3>
        </div>
        
        
            <div class="col-10 text-center justify-content-start pb-5">

                    <p class="lead mt-3" id="about-me-p">
                        I'm a certified  Transformational Life Coach,  EFT, NLP Practitioner, Clinical Hypnotherapist  
                        & Stage IV Cancer Survivor celebrating four years NED. I was diagnosed with Colon Cancer in 
                        December 2017 completely out of the blue at just 31 years old, four months before my wedding.
                   <br>
                        What followed next was a whirlwind of decisions, rounds of chemotherapy and mental and spiritual
                        trauma.
                    <br>
                        My own cancer journey and experiences as well as my training means that I am uniquely
                        able to understand what you are going through to help you on your journey
                        navigating life after diagnosis with a positive mindset.
                    </p>
            </div>
            </div>
<hr class="hr hr-blurry" />
</div>
