{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <title>Life Coach Site</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">
  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container z-index-1 position-absolute top-2 right-0 mt-1 mb-1">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link nav-text" aria-current="page" id="nav-home"
                href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text" id="nav-services" href="{% url 'services' %}">Coaching Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text" id="nav-resources" href="{% url 'resources' %}">Free Resources</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link nav-text" id="nav-booking" href="{% url 'booking' %}"> Coaching Sessions</a>
            </li>
            {% endif %}
        </div>
        <!-- Icon dropdown -->
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'login' %}" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="true">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item" class="nav-link" id="nav-text" href="{% url 'user_profile' %}">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" class="nav-link" id="nav-text" href="{% url 'logout' %}">
                Logout
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item" class="nav-link" id="nav-text"
                href="{% url 'register_user' %}">
                Register
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" class="nav-link" id="nav-text" href="{% url 'login' %}">
                Login
              </a>
            </li>
            {% endif %}
          </ul>


          </ul>
      </div>
      </div>

    </nav>
  </header>

  <main class="flex-shrink-0 main-bg"></main>
  {% block index %}
  <!-- Index Content -->
  {% endblock index %}

  {% block resources %}
  <!-- Free Resources -->
  {% endblock resources %}

  {% block profile %}
  <!-- Profile Content -->
  {% endblock profile %}

  {% block login %}
  <!-- Login Form-->
  {% endblock login %}

  {% block booking %}
  <!-- Coaching Sessions Content -->
  {% endblock booking %}

  {% block register_user %}
  <!-- Register User Form -->
  {% endblock register_user %}

  {% block Coaching-Services %}
  <!-- Detailed Coaching Services-->
  {% endblock Coaching-Services %}
  </main>
  <!-- Footer -->
  <footer class="footer text-center text-white sticky-bottom">
    <!-- Grid container -->
    <div class="container p-2">
      <!-- Section: Social media -->
      <section class="">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com" target="_blank"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com" target="_blank"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://instagram.com" target="_blank"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

        <!-- Tiktok -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.tiktok.com" target="_blank"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-tiktok"></i></a>

        <!-- Email -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="hello@natalieriedecoaching.com" target="_blank"
          role="button" data-mdb-ripple-color="dark"><i class="fas fa-envelope "></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="#">Natalie Rider Coaching</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>