{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'style.css' %} ">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--Coaching Services Booking System-->  

{% if user.is_authenticated %}
<body id="body-form">
    
        <header>
            <!-- Navbar -->
            <nav class="nav" id="nav-form">
                <a class="nav-link active" id="nav-form-link" href="{% url 'index' %}">Home</a>
                <a class="nav-link" id="nav-form-link" name= "user_profile" href="{% url 'user_profile' %}">Profile</a>
                <a class="nav-link" id="nav-form-link" name= "logout" href="{% url 'logout' %}">
                    Logout
                  </a>

            </nav>
            <!-- Navbar -->
            <!-- Jumbotron -->
            <div class="p-5 text-center" 
                style=" background-color: #117a8bb5!important; background-image: url('../static/images/selfcare.png');
            height: 400px;">
              <h1 class="mb-3">Natalie Coaching</h1>
              <h4 class="mb-3">Succeed without the guilt</h4>
            </div>
            <!-- Jumbotron -->
          </header>

	<div class="row p-5">

    <div class="container" id="scheduler-container">
        <form method="post" name="booking"   action="{% url 'booking' %}" class="" required>
             <div class="col-9 pb-3"></div>
            {% csrf_token %}
            <h3 class="pb-4 pt-5 ">Book a Session:</h3>
            <!-- Coaching Services 
           
                <h3 class="pb-4 pt-5 ">Select a coaching service:</h3>
                <select class="form-select fs-3" name="services">
                    <option value="Doctor care">Freedom and Thrive</option>
                    <option value="Nursing care">Ignite Your Potential</option>
                    <option value="Medical social services">Unleash Your Extraordinary Life</option>
                    <option value="Homemaker or basic assistance care">Breakthrough to Freedom</option>
                </select>
            -->

            <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                <th scope="col">Monday {{weekdays.0}}</th>
                <th scope="col">Tuesday  {{weekdays.1}}</th>
                <th scope="col">Wednesday  {{weekdays.2}}</th>
                <th scope="col">Thursday  {{weekdays.3}}</th>
                <th scope="col">Friday  {{weekdays.4}}</th>
                <th scope="col">Saturday  {{weekdays.5}}</th>
                <th scope="col">Sunday  {{weekdays.6}}</th>
                </tr>
                </thead>
                <tbody>
                    {% for hour in scheduleHours %}
                    <tr>
                            {% for weekday, value in weekdays.items %}
                                <td scope="row" 
                                    class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}   {% if hour in session_values %}disableME{% endif %} {% if hour|add:"me" in session_values %}disableME isMine{% endif %} {% endif %}{% endfor %}" 
                                    style="cursor: pointer;" 
                                    onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not hour in session_values %}onClickCallback('{{value}}', '{{hour}}') {% endif %}{% endif %}{% endfor %}">
                                    {{hour}}:00
                                </td>
                            {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                </div>
                <div id="scheduler-next">
                    <span>
                      <a href="{% url 'booking' %}?offset={{currentWeekOffset|add:-1}}"><i class="fas fa-angle-left"></i> < PREVIOUS WEEK</a>
                    </span>
                    <span>
                      <a href="{% url 'booking' %}?offset={{currentWeekOffset|add:1}}">NEXT WEEK > </a>
                    </span>
                  </div>
            
                <!-- Appointment -->
            <div class="mt-3">
                <h3 class="">Select a Coaching Service:</h3>
                <div class="form-select form-control fs-3" name="time" id="datetimepicker">
                        {{ form.as_p }}
                </div>
            </div>
                <br/>
            <input type="submit" class="btn btn-primary text-white" value="Submit">
            
        
    
    <h3 class="pb-4 pt-5">Edit Your Sessions:</h3>

    {% for session in allUserSessions %}
    <div class="cancel_session_container">
    
        
    {{session.time}}
    <a href="{% url 'cancel_session' %}?id={{session.id}}" class="btn btn-primary shadow text-center">Cancel</a>

    </div>
    {% endfor %}


    {% else %}
    
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
        <h1 class="p-2  me-3">You are not Logged In!</h1>
        <a href="{% url 'register_user' %}" class="btn btn-primary shadow text-center">Register</a>
    </div>
    
    {% endif %}
    </form>
    <script type="text/javascript" src="{% static 'script/booking.js' %}"></script>
</div>
</div>
</div>
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
  