{% load static %}
<!--Testimonials-->  

<link rel="stylesheet" type="text/css" href=" {% static 'style.css' %} ">
<div class="container">
    {% if user.is_authenticated %}
    <h1 class="text-center  mt-3">Online Booking</h1>
    
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
        <form method="post" name="booking"   action="{% url 'booking' %}" class="me-2 ms-2" required>
            
            {% csrf_token %}
            <!-- Coaching Services -->
            <div>
                <h3 class="">Select a coaching service:</h3>
                <select class="form-select fs-3" name="services">
                    <option value="Doctor care">Freedom and Thrive</option>
                    <option value="Nursing care">Ignite Your Potential</option>
                    <option value="Medical social services">Unleash Your Extraordinary Life</option>
                    <option value="Homemaker or basic assistance care">Breakthrough to Freedom</option>
                </select>
            </div>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li>
                  <a href="{% url 'booking' %}?offset={{currentWeekOffset|add:-1}}">previous week</a>
                </li>
                <li>
                  <a href="{% url 'booking' %}?offset={{currentWeekOffset|add:1}}">next week</a>
                </li>
              </ul>
            <div class="scheduler">
            <table class="paleBlueRows">
                <thead>
                <tr>
                <th>Monday {{weekdays.0}}</th>
                <th>Tuesday  {{weekdays.1}}</th>
                <th>Wednesday  {{weekdays.2}}</th>
                <th>Thursday  {{weekdays.3}}</th>
                <th>Friday  {{weekdays.4}}</th>
                <th>Saturday  {{weekdays.5}}</th>
                <th>Sunday  {{weekdays.6}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for weekday, value in weekdays.items %}
                            <td class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if '13' in session_values %}disableME{% endif %}{% endif %}{% endfor %}" 
                                style="cursor: pointer;" 
                                onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not '13' in session_values %}onClickCallback('{{value}}', '{{13}}') {% endif %}{% endif %}{% endfor %}">
                                13:00
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for weekday, value in weekdays.items %}
                            <td class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if '14' in session_values %}disableME{% endif %}{% endif %}{% endfor %}" 
                                style="cursor: pointer;" 
                                onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not '14' in session_values %}onClickCallback('{{value}}', '{{14}}'){% endif %}{% endif %}{% endfor %}">
                                14:00
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for weekday, value in weekdays.items %}
                            <td class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if '15' in session_values %}disableME{% endif %}{% endif %}{% endfor %}" 
                                style="cursor: pointer;" 
                                onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not '15' in session_values %}onClickCallback('{{value}}', '{{15}}'){% endif %}{% endif %}{% endfor %}">
                                15:00
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for weekday, value in weekdays.items %}
                            <td class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if '16' in session_values %}disableME{% endif %}{% endif %}{% endfor %}" 
                                style="cursor: pointer;" 
                                onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not '16' in session_values %}onClickCallback('{{value}}', '{{16}}'){% endif %}{% endif %}{% endfor %}">
                                16:00
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for weekday, value in weekdays.items %}
                            <td class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if '17' in session_values %}disableME{% endif %}{% endif %}{% endfor %}" 
                                style="cursor: pointer;" 
                                onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not '17' in session_values %}onClickCallback('{{value}}', '{{17}}'){% endif %}{% endif %}{% endfor %}">
                                17:00
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for weekday, value in weekdays.items %}
                            <td class="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if '18' in session_values %}disableME{% endif %}{% endif %}{% endfor %}" 
                                style="cursor: pointer;" 
                                onclick="{% for session_day, session_values in weeksSessions.items %}{% if session_day == weekday %}{% if not '18' in session_values %}onClickCallback('{{value}}', '{{18}}'){% endif %}{% endif %}{% endfor %}">
                                18:00
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
                </table>
            </div>
                <!-- Appointment -->
            <div class="mt-3">
                <h3 class="">Select an appointment:</h3>
                <div class="form-select form-control fs-3" name="time" id="datetimepicker">
                        {{ form.as_p }}
                </div>
            </div>
                <br/>
            <input type="submit" class="btn btn-primary text-white" value="Submit">
            </div>
        </form>
    </div>
    
    

    {% for session in allUserSessions %}
    <div class="cancel_session_container">
        
    {{session.time}}
    <a href="" class="btn btn-primary shadow text-center">Cancel</a>

    </div>
    {% endfor %}


    {% else %}
    
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
        <h1 class="p-2  me-3">You are not Logged In!</h1>
        <a href="{% url 'register_user' %}" class="btn btn-primary shadow text-center">Register</a>
    </div>
    
    {% endif %}

    <script type="text/javascript" src="{% static 'script/booking.js' %}"></script>

</div>
  