{% extends 'base.html' %}
{% load static %}

{% block index %}
<main class="flex-shrink-0 main-bg">


  <div id="carousel" class="carousel-wrapper">
    <div id="carouselExampleTouch" class="carousel slide active" data-bs-touch="true">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleTouch" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleTouch" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleTouch" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <div class="carousel-caption">
            <div class="carouselItemWrapper">
              <h1 class="mb-3">Natalie Rider Coaching</h1>
              <h4 class="mb-4 opensans fw-light">Honest self reflection opens your mind to reprogramming,
                change, success and freedom — Vikas Runwal</h4>
              <a class=" btn btn-danger booking-btn" href="{% url 'register_user' %}?rtb=true">Get Started </a>
            </div>
          </div>
        </div>

        <div class="carousel-item c-item">
          <div class="carousel-caption">
            <div class="carouselItemWrapper">
              <h1 class="mb-3">Natalie Rider Coaching</h1>
              <h4 class="mb-4 opensans fw-light">Just one small positive thought in the morning can change your whole day
                — Dalai Lama</h4>
              <a class=" btn btn-danger booking-btn" href="{% url 'register_user' %}?rtb=true">Get Started </a>
            </div>
          </div>
        </div>

        <div class="carousel-item c-item">
          <div class="carousel-caption">
            <div class="carouselItemWrapper">
              <h1 class="mb-3">Natalie Rider Coaching</h1>
              <h4 class="mb-4 opensans fw-light">You can be a victim of cancer, or a survivor of cancer. It's a mindset.
                — Dave Pelzer
              </h4>
              <a class=" btn btn-danger booking-btn" href="{% url 'register_user' %}?rtb=true">Get Started </a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleTouch" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleTouch" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <img src="{% static 'images/the_quiet.webp' %}" class="d-block w-100 c-img " alt="sunset on the beach" />


  </div>

  <!--  Introduction Coach section here-->
  <div class="showcase-container">

    <!-- Content here -->
    <div id="about-me">
      <div class="header-showcase mb-2 col-10 pb-3 pt-5 text-center">
        <h3>Natalie Rider Coaching</h3>
      </div>
      <div class="col-10 text-center justify-content-start pb-5">
        <p class="lead mt-3" id="about-me-p">
          I'm a certified Transformational Life Coach, EFT, NLP Practitioner, Clinical Hypnotherapist
          & Stage IV Cancer Survivor celebrating four years NED. I was diagnosed with Colon Cancer in
          December 2017 completely out of the blue at just 31 years old, four months before my wedding.
          <br>
          What followed next was a whirlwind of decisions, rounds of chemotherapy and mental and spiritual
          trauma.
          <br>
          My own cancer journey and experiences as well as my training means that I am uniquely
          able to understand what you are going through to help you on your journey
          navigating life after diagnosis with a positive mindset.
        </p>
      </div>
    </div>
  </div>

  <div>
    <!--Coaching Services section here -->
    <div class="showcase-container coaching-services">
      <div class="row" id="coaching-services">

        <div class="header-showcase mb-2 col-10 pb-3 pt-5 text-center">
          <h3>Coaching Services</h3>
        </div>


        <div class="col-10 text-center justify-content-start pb-5">
          <p class="lead  mt-3">
            Get to know the four 1:1 programs I offer and book
            a free 30-minute discovery call with me to
            explore how I can support you in achieving
            your goals and transforming your life.
          </p>

        </div>

        <div class="col-10 col-10 pb-3 pt-3 text-center">
          <!-- Tabs navs -->
          <ul class="nav nav-tabs nav-justified" id="ex1" role="tablist">
            <li class="nav-item coaching-services-item" role="presentation">
              <a class="nav-link active " id="ex3-tab-1" data-bs-toggle="tab" href="#ex3-tabs-1" role="tab"
                aria-controls="ex3-tabs-1" aria-selected="true">Freedom and Thrive</a>
            </li>
            <li class="nav-item coaching-services-item" role="presentation">
              <a class="nav-link" id="ex3-tab-2" data-bs-toggle="tab" href="#ex3-tabs-2" role="tab"
                aria-controls="ex3-tabs-2" aria-selected="true">Ignite Your Potential</a>
            </li>
            <li class="nav-item coaching-services-item" role="presentation">
              <a class="nav-link" id="ex3-tab-3" data-bs-toggle="tab" href="#ex3-tabs-3" role="tab"
                aria-controls="ex3-tabs-3" aria-selected="true">Unleash Your Extraordinary Life</a>
            </li>
            <li class="nav-item coaching-services-item" role="presentation">
              <a class="nav-link" id="ex3-tab-4" data-bs-toggle="tab" href="#ex3-tabs-4" role="tab"
                aria-controls="ex3-tabs-4" aria-selected="true">Breakthrough to Freedom</a>
            </li>
          </ul>
          <!-- Tabs navs -->

          <!-- Tabs content -->
          <div class="tab-content mb-2" id="ex2-content">
            <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
              <h4 id="header-resources-1"> 12 Week Program total of 10 sessions</h4>
              <p class="lead coaching-services-p">
                A transformative 12-week program
                designed exclusively for cancer patients on their journey to
                reclaiming their lives. Whether you've recently been diagnosed,
                are currently undergoing treatment, or have completed your
                treatment and are seeking guidance for the future, this program
                is tailored to meet your unique needs and empower you to thrive
              </p>
            </div>
            <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
              <h4 id="header-resources-2"> The Transformational 4-Session Journey </h4>
              <p class="lead" id="coaching-services-2">
                In these four personalised one-hour coaching sessions, we will
                embark on a deep exploration of your goals, dreams, and aspirations,
                meticulously tailoring our approach to your unique needs. Whether
                you're striving for career advancement, seeking clarity in relationships,
                aiming to overcome self-doubt, or desiring a greater sense of purpose,
                we will work together to overcome any obstacles that stand in your way.
              </p>
            </div>
            <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
              <h4 id="header-resources-3"> A Journey of 8 Transformative Sessions </h4>
              <p class="lead coaching-services-p">
                For those seeking a more comprehensive experience,
                "Unleash Your Extraordinary: A Journey of 8 Transformative Sessions"
                offers an immersive series of eight one-hour bespoke coaching sessions.
                This captivating program delves even deeper into your unique journey,
                providing invaluable insights, guidance, and support every step of the way.
              </p>
            </div>
            <div class="tab-pane fade" id="ex3-tabs-4" role="tabpanel" aria-labelledby="ex3-tabs-4">
              <h4 id="header-resources-4"> Rapid Transformation for Lasting Change</h4>
              <p class="lead coaching-services-p">
                Experience Rapid Transformation and Unleash Your Full Potential in
                a Single Power-Packed Session! Are you tired of being held back by
                fears, phobias, or negative habits that are keeping you from living
                your best life? Imagine the exhilarating feeling of breaking free from
                limitations and stepping into a world of endless possibilities.
                Now, you can achieve that incredible transformation in just a few hours with my incredible breakthrough
                session.

              </p>
            </div>
          </div>
          <!-- Tabs content -->



          <div class="text-center">
            <a class="btn btn-danger btn-register booking-btn"
              href="{% url 'register_user' %}?rtb=true">
              Register & Book a Session
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!--Devider Image-->

  <div class="divider-img-wrapper">
    <img src="{% static 'images/selfcare.png' %}" class="img-fluid" id="divider-img" alt="Responsive image">
  </div>

  <!--Testimonials go here-->
  <div class="showcase-container">
    <div class="row" id="testimonials">
      <div class="row d-flex justify-content-center">

        <div class="header-showcase mb-2 col-10 pb-3 pt-5 text-center">
          <h3>Testimonials</h3>
        </div>
        <p class="subheader-showcase">
          Love from the community
        </p>
      </div>

      <div class="col-10 row text-center d-flex align-items-stretch">

        {% for testimonial in all_testimonials %}
        <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
          <div class="card testimonial-card">
            <div class="card-up" style="background-color: #f2e1c3;"></div>
            <div class="card-body">
              <h4 class="mb-5">{{testimonial.name}}</h4>
              <hr/>
              <p class="testimonial-card-body dark-grey-text mt-4">
                <i class="fas fa-quote-left pe-2"></i>{{testimonial.body}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>


</main>

{% endblock index %}