{% extends 'base.html' %}
{% load static %}


{% block resources %}

<div id="body-form">
    <div class="content_main" id="col-form">
        <div class="container" id="scheduler-container">

            <div class="container ">
                <!-- Content here -->
                <div class="row" id="about-me">
                    <div class="text-center">
                        <h3 class="pb-2 mb-4 underlined">Natalie Rider Coaching Resources</h3>
                    </div>


                    <div class="justify-content-start pb-5">
                        <div class="resources-text">
                            <p class="lead mt-3 about-me-p">
                                <h4 class="pb-3">Recovery Workbook</h4>
                                The Ultimate Cancer Recovery Workbook is a FREE value-packed step-by-step guide that
                                will help
                                you transform your mindset and navigate your cancer journey with grace and ease.

                                <br>
                                With practical exercises, journal prompts, actionable advice and more,
                                on the first session, you will recieve a hard copy of this workbook which will empower
                                you
                                to take back control of your life and find your zest for life again. Together we will
                                also practice to
                                write on the workbook after each session.
                                <br>

                            </p>
                        </div>
                        <br/>
                        <div class="resources-text">
                            <p class="lead mt-3 about-me-p">
                                <h4 class="pb-3">Healing Meditation</h4>
                                Discover Tranquility and Find Inner Peace with the FREE Healing Garden Guided
                                Meditation.
                                Imagine stepping into a serene garden, surrounded by lush greenery and the gentle sounds
                                of nature.
                                As you immerse yourself in this oasis of calm, you'll embark on a guided journey that
                                will enable you
                                to let go of stress, anxiety, and tension.
                                <br>
                                Through the power of visualisation and soothing narration,
                                you'll be gently guided towards a state of profound peace and rejuvenation. This
                                powerful guided audio
                                experience will help you to process emotions, release burdens, and uplift your spirit,
                                allowing you to
                                step into a lighter, more vibrant state of being.

                                <br>

                            </p>
                        </div>
                        <br/>
                        <div class="resources-text">
                            <p class="lead mt-3 about-me-p">
                                <h4 class="pb-3">Gratitude Journal</h4>
                                Ignite the incredible power of gratitude and experience a profound transformation in
                                your mindset.
                                Unlock the key to a life filled with joy, abundance, and inner peace with our exclusive,
                                with a free gratitude journal that you
                                will recieve on your first session.
                                <br>
                                Imagine the profound impact of daily gratitude practice as it amplifies your blessings
                                and shifts your perspective towards a world of infinite possibilities.
                                <br>

                            </p>
                        </div>
                        <br/>
                        <hr class="hr hr-blurry m-2"/>
                        <br/>
                        <div class="resources-text">
                            <p class="lead mt-3 about-me-p">
                                <h4 class="pb-3">The Six Pillars of Cognitive Power</h4>
                                Discover the power of anchoring and cognitive behavioural techniques by immersing
                                yourself in guided meditation audios, and
                                explore self-care practices such as Emotional Freedom Techniques (EFT) using the six
                                pillars of cognitive power.
                                <br>

                            </p>
                            <div class="pt3 pb-3 " style="display: contents;">
                                <p>
                                    <h5>Clarity:</h5> Together, we'll create a roadmap to help you understand where you
                                    are now and where you want to be. Through self-assessment exercises and coaching
                                    sessions, you'll gain a holistic view of your life and identify areas that require
                                    attention and growth.
                                </p>
                                <br/>
                                <p>
                                    <h5> Mindset and Motivation: </h5>Uncover and overcome your limiting beliefs while
                                    establishing clear goals for the future. Our coaching sessions and guided
                                    meditations will empower you to embrace a mindset that fuels motivation and propels
                                    you towards your aspirations.
                                </p>
                                <br/>
                                <p>
                                    <h5>Finding Peace and Freedom:</h5>Release stress and anxiety, equipping yourself
                                    with tools to navigate life's challenges. Our coaching sessions and transformative
                                    NLP and EFT techniques will empower you to face any situation with grace and
                                    resilience.
                                </p>
                                <br/>
                                <p>
                                    <h5>Self-love and Body Image: </h5>Embrace your body, scars, and all, fostering
                                    self-acceptance and surrendering to your diagnosis. Through self-study and guided
                                    hypnosis, you'll learn the importance of self-care and celebrate the beautiful
                                    person you are.
                                </p>
                                <br/>
                                <p>
                                    <h5>Connection and Communication:</h5> Enhance your ability to express your thoughts
                                    and emotions effectively. We'll guide you through various techniques such as
                                    scripting, affirmations, and meditation to establish a deep connection between your
                                    mind, body, and spirit.
                                </p>
                                <br/>
                                <p>
                                    <h5>Create a Life You Love: </h5>Reflect on your progress, set future goals, and
                                    ensure you're on the path to realising your dream life. Our coaching sessions will
                                    provide accountability and support as you create a future filled with joy, purpose,
                                    and fulfilment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock resources %}