{% extends 'base.html' %}
{% load static %}


{% block Coaching-Services %}

<div id="body-form">
  <div class="content_main" id="col-form">
    <div class="container" id="scheduler-container">
      <div class="container coaching-services">
        <div class="row " id="coaching-services">

          <div class="text-center">

            <h3 class="pb-2 mb-4 underlined" id="header-services-1">Coaching Services</h3>
            <p class="lead coaching-services-p">
              Choose the path that resonates with you and take the
              first step towards a life of transformation and empowerment.
              Don't let this opportunity slip away—reserve your spot today
              and unlock the incredible possibilities that await you.
            </p>

          </div>

          <!-- Accordion-->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed acc-services" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">
                  Freedom and Thrive
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="lead coaching-services-p">
                    <strong>A transformative 12-week program</strong>
                    designed exclusively for cancer patients on their journey to
                    reclaiming their lives. Whether you've recently been diagnosed,
                    are currently undergoing treatment, or have completed your
                    treatment and are seeking guidance for the future, this program
                    is tailored to meet your unique needs and empower you to thrive.
                    <br>
                    <br>
                    My program is built upon six powerful pillars that will guide you
                    towards a life filled with clarity, peace, self-love, connection,
                    and the creation of a future you truly love. Throughout the 12 weeks,
                    you'll engage in a variety of coaching sessions and bespoke hypnotherapy
                    experiences, supported by my comprehensive online portal and content bank.
                    <br>
                    <br>
                    The coaching component of the program consists of six dynamic sessions,
                    including life coaching, Neuro-Linguistic Programming (NLP), Emotional
                    Freedom Techniques (EFT), and Timeline Therapy. These sessions will help
                    you gain clarity about your current state, identify limiting beliefs, set
                    achievable goals, and develop a mindset that fuels your motivation and growth.
                    <br>
                    <br>
                    In addition to coaching, you'll benefit from four transformative hypnotherapy
                    sessions carefully tailored to your needs. These sessions will address stress,
                    anxiety, and empowerment, guiding you towards a place of peace and freedom.
                    With our hypnotherapy recordings, including "Healthy Future" and "Treatment
                    Relaxation," you'll have powerful tools to support your healing and well-being.

                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed acc-services" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Ignite Your Potential
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  <p class="lead coaching-services-p">
                    <strong>In these four personalised one-hour coaching sessions</strong>
                    , we will embark on a deep exploration of your goals, dreams, and aspirations,
                    meticulously tailoring our approach to your unique needs. Whether
                    you're striving for career advancement, seeking clarity in relationships,
                    aiming to overcome self-doubt, or desiring a greater sense of purpose,
                    we will work together to overcome any obstacles that stand in your way.
                    <br>
                    <br>
                    Get ready to witness awe-inspiring breakthroughs as we address issues such as
                    imposter syndrome, limiting beliefs, fear of failure, and self-sabotage. Through
                    powerful techniques and guidance, we'll unleash your hidden potential and empower
                    you to create the life you've always envisioned. Don't wait a moment longer—this is
                    your chance to ignite your true potential and set the stage for a life beyond your wildest dreams.
                    Reserve your spot now and prepare to embark on a truly remarkable journey of self-discovery and
                    growth.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed acc-services" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Unleash Your Extraordinary Life
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="lead coaching-services-p">
                    For those seeking a more comprehensive experience,<strong>
                      "Unleash Your Extraordinary: A Journey of 8 Transformative Sessions"</strong>
                    offers an immersive series of eight one-hour bespoke coaching sessions.
                    This captivating program delves even deeper into your unique journey,
                    providing invaluable insights, guidance, and support every step of the way.
                    <br>
                    <br>
                    With a laser-focused approach tailored to your needs, each session will equip
                    you with the strategies and tools to thrive.
                    Experience rapid growth as we navigate the depths of your potential, fueling
                    your success and fulfilment.
                    <br>
                    <br>
                    Unleash your true capabilities, step into your authentic self, and witness the
                    transformational impact on every area of your life. Seize this opportunity to invest
                    in your future. Enrol in "Thriving in Abundance" today to secure your spot on this
                    life-altering journey.
                    <br>
                    <br>
                    Let's accelerate your progress, overcome limitations, and
                    unlock the abundance that awaits you. Together, we'll forge a path towards the
                    extraordinary, leaving behind imposter syndrome, limiting beliefs, and fears.
                    The time for your next level of success is now.

                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed acc-services" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Breakthrough to Freedom
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="lead coaching-services-p">
                    <strong>Experience Rapid Transformation and Unleash Your Full Potential in
                      a Single Power-Packed Session! </strong>Are you tired of being held back by fears, phobias, or
                    negative habits that are keeping you from living your best life? Imagine the exhilarating feeling of
                    breaking free from limitations and stepping into a world of endless possibilities. Now, you can
                    achieve that incredible transformation in just a few hours with my incredible breakthrough session.
                    Introducing my revolutionary Fast Track to Freedom/Breakthrough Blitz: a game-changing, intensive
                    session designed to help you conquer fears and phobias such as motorway driving, fear of flying,
                    fear of driving, quitting smoking, nail-biting, and more. In this remarkable one-and-done
                    experience, you'll embark on an incredible journey of self-discovery and liberation.
                    This breakthrough session combines cutting-edge techniques and proven strategies to create immediate
                    and lasting change.
                    <br>
                    <br>
                    Through a series of tailored exercises, powerful visualisation, hypnotherapy and breakthrough
                    interventions, we'll address the root causes of your fears and phobias, eliminating them at their
                    core.
                    You'll be amazed as you witness your fears dissolve before your eyes, replaced by newfound
                    confidence, courage, and freedom.
                    <br>
                    <br>
                    Your breakthrough session is designed to provide rapid results, empowering you to make immediate
                    changes and step boldly into a life of limitless potential.
                    No more months of years of struggling with your fears. This is your opportunity to experience a true
                    quantum leap in your personal growth and transform your life in just a matter of hours.
                    <br>
                    <br>
                    Take the plunge into this exhilarating journey of self-discovery, break free from your limitations,
                    and embrace the life you've always dreamed of.
                    Don't wait any longer to live the life you deserve. Reserve your spot in a Breakthrough Blitz
                    session today and prepare to witness the incredible power of rapid transformation. The best part?
                    It's one session, and you're done. Get ready to rewrite your story and create a future filled with
                    confidence, freedom, and boundless joy. The time for your breakthrough is now!

                  </p>
                </div>
              </div>
            </div>

          </div>
          <!-- Tabs content -->
          <div class="text-center">
            <p class="lead pt-3 coaching-services-p">
              Are you ready to take the first step towards a transformative
              life journey? Book your free 30-minute discovery call with me
              today and let's explore how I can support you in achieving your
              goals and transforming your life.
              This call is completely obligation-free, offering you a safe and
              confidential space to share your aspirations, challenges, and dreams.
              Together, we'll uncover the possibilities and create a roadmap towards
              a future filled with joy, purpose, and fulfilment.



            </p>
            <a class=" btn btn-danger" id="booking-btn" href="{% url 'register_user' %}?rtb=true">
              Get Started
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Coaching-Services %}